@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, rgb(12, 28, 40) 0%, rgb(10,28,36) 70%);
    font-family: 'MuseoModerno', sans-serif;
    color: white;
    overflow: hidden;
    position: relative;
}
.display-sadface-404{
    display: flex;
}
.background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 20vw;
    color: rgba(255, 255, 255, 0.03);
    letter-spacing: 6px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}
span, img{
    margin-top: -150px;
    margin-bottom: -60px;
}


.background-text span {
    display: block;
    white-space: nowrap;
}

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(89, 129, 99, 0.5) 0%, rgba(15, 29, 35, 0) 75%);
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    filter: blur(40px);
}

.container {
    text-align: center;
    z-index: 10;
    position: relative;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 1rem;
    color: #d0d0d0;
    margin-bottom: 50px;
    margin-top: -10px;
}

a {
    background-color: rgba(217, 217, 217, 0.708);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 12px 40px;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    font-family: 'Dm Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    background-color: #65B77D;
    border-color: #377449;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(89, 129, 99, 0.5);
}